{% load basefilter %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            供应商对账方式
        </title>
    </head>
    <body>
        {% include 'common/nav.html' %}
        <div class="mainConf">
            <div class="confSide left">
                <h3>
                    供应商对账方式
                    <a class="icon" href="{% url 'reconciltype' %}?action=new" style="text-decoration: none" title="新建">+</a>
                </h3>
                <div class="confSide-cnt">
                    <div class="sideBox">
                        <div class="listBox">
                            <span class="nav-item-icon">∨</span>
                            <a class="listTitle">已启用的对账方式：</a>
                            <div class="list">
                                <ul>
                                    {% for rec in QrecList %}
                                        <li>
                                             <a href="{% url 'reconciltype' %}?rid={{ rec.id }}" class="payType">
                                                 {{ rec.rname }}
                                             </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="listBox">
                            <span class="nav-item-icon">∨</span>
                            <a class="listTitle">已禁用的对账方式：</a>
                            <div class="list">
                                <ul>
                                    {% for rec in JrecList %}
                                        <li>
                                             <a href="{% url 'reconciltype' %}?rid={{ rec.id }}" class="payType">
                                                 {{ rec.rname }}
                                             </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="confCnt left">
                <div class="tTitle">
                    <h2>
                        供应商对账方式管理
                    </h2>
                </div>
                <div class="confCnt-box">
                    <form class="confCnt-form" method="post" name="ReconForm">
                        {% csrf_token %}
                        <div class="conf baseInfo">
                            <h3>
                                供应商对账方式基本信息：
                            </h3>
                            <div class="payTypeBox">
                                <input type="hidden" name="reconId" id="reconId" value="{{ reconList.id }}">
                                <p>
                                    <label>对账方式名称：</label>
                                    <input type="text" name="reconName" id="reconName" value="{{ reconList.rname }}">
                                </p>
                               <p>
                                    <label >开始日：</label>
                                    <select id="beginday" name="beginday" style="width: 50px;">
                                        {% for n in dayList %}
                                            <option value="{{ n }}">{{ n }}</option>
                                        {% endfor %}
                                    </select>&nbsp;
                                    至&nbsp;
                                    <label >结束日：</label>
                                     <select id="endday" name="endday" style="width: 50px;">
                                        {% for n in dayList %}
                                            <option value="{{ n }}">{{ n }}</option>
                                        {% endfor %}
                                    </select>
                               </p>
                               <p>
                                    <label>使&nbsp;&nbsp;用&nbsp;&nbsp;状&nbsp;&nbsp;态&nbsp;：</label>
                                    <select name="rstatus" id="">
                                        {% if reconList.status == '0' %}
                                            <option value="0" selected="selected">禁用</option>
                                            <option value="1">启用</option>
                                        {% else %}
                                           <option value="0">禁用</option>
                                            <option value="1" selected="selected">启用</option>
                                        {% endif %}

                                    </select>
                                </p>
                                <ul class="payTypeList">
                                    {% for pay in PayList %}
                                    <li>
                                        <input name="payType" type="checkbox" value="{{ pay.id }}" {{ payTyleLoad | checkPayType:pay.id }}/>
                                        <label>{{ pay.name}}</label>
                                    </li>
                                    {% endfor %}
                                </ul>

                            </div>
                        </div>
                        <div class="btn">
                            <input id="save" type="submit" value="保存" onclick="setAction('save')">
                            <input id="save" type="submit" value="删除" onclick="setAction('del')">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% include 'common/footer.html' %}
        <script>
            function setAction(action){
                document.ReconForm.action = "{% url 'reconciltype' %}?action="+action;
            }
            $(".listTitle").click(function(){
                $(this).siblings(".list").find("ul").toggle()
            })
           $(function(){
               $('#beginday').find("option[value='{{ reconList.beginday }}']").attr("selected", true);
               $('#endday').find("option[value='{{ reconList.endday }}']").attr("selected", true);
           });
        </script>
        <script>
            {% if succ %}
                alert('数据提交成功');
                window.location.href="{% url 'reconciltype' %}?{% if rid %}rid={{ rid }}{% endif %}";
            {% endif %}
        </script>
    </body>
</html>