<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            商业供应链系统
        </title>

    </head>
    <body>
        {% include "common/nav.html" %}
        <div class="supply_admin comWidth">
            <h2 class="tTitle">
                维护供应商系统管理员
            </h2>
            <div class="query comWidth" style="height: 55px;">
                <form action="" class="query-list" id="changePasswdForm" name="changePasswdForm" method="post">
                    <p class="input">
                        <label>供应商编码：</label>
                        <input type="text" name="grpcode" value="{{ grpcode }}">
                    </p>
                    <p class="input">
                        <label>登录名：</label>{{ form.ucode }}{{ form.ucode.errors }}
                    </p>
                    <p class="input">
                        <label>新密码：</label>{{ form.passwd }}{{ form.passwd.errors }}
                    </p>
                    <p class="input">
                        <label>确认密码：</label>{{ form.confirmpass }}{{ form.confirmpass.errors }}
                    </p>
                    <p class="btn input">
                        <input class="query-enter" type="button" id="btnQuery" name="btnQuery" value="查询管理员" onclick="queryUser()">
                    </p>
                    <p class="btn input">
                        <input class="query-enter" type="button" id="btnSave" name="btnSave" value="重新生成密码" >
                    </p>
                </form>
            </div>
            <table border="0" cellpadding="3" cellspacing="1" width="100%" align="center" style="background-color: #999;">
                <thead>
                    <tr>
                        <th>
                            选择
                        </th>
                        <th>
                            登录名
                        </th>
                        <th>
                            供应商编码
                        </th>
                        <th>
                            供应商名称
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for rows in posts %}
                    <tr>
                        <td>
                            <a href="javascript:void(0);" id="addUcode" name="addUcode" onclick="addUcode('{{ rows.ucode }}')">+</a>
                        </td>
                        <td>
                            {{ rows.ucode }}
                        </td>
                        <td>{{ rows.grpcode }}</td>
                        <td>
                            {{ rows.gnm }}
                        </td>
                    </tr>
                    {% empty %}
                        <tr><td colspan="4">无此条数据</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include "common/footer.html" %}
    </body>
<script type="text/javascript">
     current="gongyingshangquanxian";
    function queryUser(){
        $("#changePasswdForm").attr("action", '/scm_ts/base/admin/suppmanager/');
        $("#changePasswdForm").submit();
    }
    function updatePwd() {
        var ucode = $("#uCode");
        var pwd = $("#id_passwd");
        var repwd = $("#id_confirmpass");

        if(ucode.val()==''){
             alert("用户不能为空，请选择用户");
             ucode.focus();
             return false;
        }

        if(pwd.val()==''){
             alert("新密码不能为空");
             pwd.focus();
             return false;
        }
        if(repwd.val()==''){
            alert("确认密码不能为空");
            repwd.focus();
            return false;
        }

        if(pwd.val()!==repwd.val()){
            alert("确认密码与新密码不一致");
            repwd.focus();
            return false;
        }

        $("#changePasswdForm").attr("action", '/scm_ts/base/admin/supp_updatepwd/');
        $("#changePasswdForm").submit();
    }
    function addUcode(ucode) {
        $("#uCode").attr("value", ucode);
        $("#id_passwd").val("");
        $("#id_confirmpass").val("");
    }
</script>
<script>
    $(function(){
        $('#btnSave').bind("click",function(){
            var ajax_option= {
                url: "/scm_ts/base/admin/supp_updatepwd/",
                data:$('#changePasswdForm').serialize(),
                type:'post',
                dataType:'json',
                async:false,
                cache: false,
                beforeSubmit:function(a,f,o){
                    var ucode = $("#uCode");
                    var pwd = $("#id_passwd");
                    var repwd = $("#id_confirmpass");

                    if(ucode.val()==''){
                         alert("用户不能为空，请选择用户");
                         ucode.focus();
                         return false;
                    }

                    if(pwd.val()==''){
                         alert("新密码不能为空");
                         pwd.focus();
                         return false;
                    }
                    if(repwd.val()==''){
                        alert("确认密码不能为空");
                        repwd.focus();
                        return false;
                    }

                    if(pwd.val()!==repwd.val()){
                        alert("确认密码与新密码不一致");
                        repwd.focus();
                        return false;
                    }
                },
                success: function (result) {
                    var status = result.status;
                    if(status=='0') {
                        $("#id_passwd").val("");
                        $("#id_confirmpass").val("");
                        alert("操作成功");
                    }else{
                        alert("操作失败");
                    }
                }
            }

            $('#changePasswdForm').ajaxSubmit(ajax_option);
        });
        $(".errorlist").css({"margin-top":"30px","margin-left":"-150px"})
    });

</script>
</html>