{% load basefilter %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            供应商权限
        </title>
    </head>
    <body>
      {% include "common/nav.html" %}
        <div class="mainConf">
            <div class="confSide left">
                <h3>
                    角色列表
                    <a class="icon" href="{% url 'roleEdit' %}?action=new" style="text-decoration: none" title="新建">+</a>
                </h3>
                <div class="confSide-cnt">
                    <div class="confSide-page">
                        {% if retRoleList.has_previous %}
                            <a href="?page={{ retRoleList.previous_page_number }}&grpcode={{ grpCode }}">&lt;&lt;&lt;</a>
                        {% else %}
                            <a href="javascript:;">&lt;&lt;&lt;</a>
                        {% endif %}
                        <form action="" style="display: inline-block">
                           <span>第</span>
                           <select class="page" name="page" id="page">
                           {% for index in retRoleList.paginator.page_range %}
                               {% if index == page %}
                                   <option selected="selected">{{ index }}</option>
                               {% else %}
                                   <option>{{ index }}</option>
                               {% endif %}
                           {% endfor %}
                           </select>
                           <span>页</span>
                        </form>
                        {% if retRoleList.has_next %}
                            <a href="?page={{ retRoleList.next_page_number }}&grpcode={{ grpCode }}">&gt;&gt;&gt;</a>
                        {% else %}
                            <a href="javascript:;">&gt;&gt;&gt;</a>
                        {% endif %}

                    </div>
                    <div class="sideBox">
                        <div class="retailBox">
                            {% for retRole in retRoleList %}
                            <h4>
                                <a href="{% url 'roleEdit' %}?rcode={{ retRole.rcode }}&grpId={{ retRole.grpcode }}{% if page %}&page={{ page }}{% endif %}">{{ retRole.nm }}</a>
                            </h4>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="confCnt left">
                <div class="tTitle">
                    <h2>
                        角色信息管理（红色字段为必填选项）
                    </h2>
                </div>
                <div class="confCnt-box">
                    <form class="confCnt-form" name="retRoleForm" method="post">
                        {% csrf_token %}
                        <div class="conf baseInfo">
                            <h3>
                                基本信息&nbsp;--&nbsp;编号：<span>{{ role.rcode }}</span>
                                <input class="powerSet" type="button" value="权限" >
                                <input class="shopSet" type="button" value="门店" id="shopSetId">
                            </h3>
                            <div class="baseInfo-box">
                                <p class="red">
                                    <label for="uName">名称：</label>
                                    {{ form.nm }}
                                </p>
                                {{ form.nm.errors }}
                                <p>
                                    <label for="uId">ID：</label>
                                    {{ form.rcode }}
                                </p>
                                <p>
                                    <label for="uStatus">状态：</label>
                                    {{ form.status }}
                                </p>
                                <p>
                                    <label for="uRemark">备注：</label>
                                    {{ form.remark }}
                                </p>
                                <p>
                                    <label for="uCompany">集团：</label>
                                    {{ form.grpcode }}
                                </p>
                            </div>
                        </div>
                        <div class="btn">
                            <input id="save" type="submit" value="保存" onclick="setAction('save')">
                            <input type="submit" value="删除" onclick="setAction('del')">
                        </div>
                    </form>

                    <form class="powerSet-box" action="{% url 'roleEdit' %}?action=powerSave&rcode={{ rcode }}{% if page %}&page={{ page }}{% endif %}" method="post" style="top:200px;right:0;left:auto;height:300px;overflow-y: auto">
                        {% csrf_token %}
                        <p class="title">
                            <input id="" class="all" type="checkbox" name="" checked="false"><label for="">全选/全不选</label> <input type="submit" value="确定"> <input class="close" type="button" value="放弃">
                        </p>
                        <table border="0" cellpadding="3" cellspacing="1" width="100%" align="center" style="background-color: #999;">
                            <tbody>
                                <tr>
                                    <td>选择</td>
                                    <td>功能代码</td>
                                    <td>功能名称</td>
                                    <td>子项</td>
                                </tr>
                                {% for rolSel in rolPowerList %}
                                <tr>
                                    <td>
                                        <input type="checkbox" name="powerSel" id="" value="{{ rolSel.0 }}" {{ rolPowerLoad | checkTuple:rolSel.0 }}>
                                    </td>
                                    <td>{{ rolSel.0 }}</td>
                                    <td>{{ rolSel.1 }}</td>
                                    <td>{{ rolSel.2 }}</td>
                                </tr>
                               {% endfor %}
                            </tbody>
                        </table>
                    </form>

                    <form class="shopList-cnt" action="{% url 'roleEdit' %}?action=shopSave&rcode={{ rcode }}{% if page %}&page={{ page }}{% endif %}" method="post" style="top:200px;right:0;left: auto;">
                        {% csrf_token %}
                        <p class="shopList-cnt-tit">
                            <input type="checkbox" name="" id="" class="all"><label for="">全选/全不选</label> <input type="submit" value="确定"> <input class="close" type="button" value="放弃">
                        </p>
                        <table border="0" cellpadding="3" cellspacing="1" width="100%" align="center" style="background-color: #999;">
                            <thead>
                                <tr>
                                    <th>
                                        选择
                                    </th>
                                    <th>
                                        门店编码
                                    </th>
                                    <th>
                                        门店名称
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for shop in shopList %}
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="rolShop" id="" value="{{ shop.shopcode }}" title="{{ shop.shopnm }}" {{ rolShopLoad | checkCode:shop.shopcode }}>
                                        </td>
                                        <td >{{ shop.shopcode }}</td>
                                        <td class="shopNm">{{ shop.shopnm }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
       {% include "common/footer.html" %}
        <script>
            $(function(){
                $(".errorlist").css({
                    "margin-left": "-400px",
                    "margin-top":"25px"});
                //权限管理
                $("#shopSetId").click(function(){
                    $(".shopList-cnt").toggle();
                });
            });
            function setAction(action){
                document.retRoleForm.action = "{% url 'roleEdit' %}?action="+action+"{% if page %}&page={{ page }}{% endif %}";
            }

            $("#page").change(function(){
                pageValue = $(this).val();
                window.location.href="{% url 'roleEdit' %}?page="+pageValue+"&grpcode="+{{ grpCode }}
            });

            {% if errorMsg %}
                alert('{{ errorMsg }}');
            {% endif %}
        </script>
    </body>
</html>