<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
       商业供应链系统
    </title>

</head>
<body>
{% include "common/nav.html" %}
<div class="mainConf">
    <div class="confSide left">
        <h3>
            角色列表<b class="icon"><a href="/scm_ts/base/admin/supprole/">+</a></b>
        </h3>

        <div class="confSide-cnt">
            <div class="confSide-page">
                <span>第</span>

                <form id="page_form" method="get" action="/scm_ts/base/admin/supprole/index" style="display: inline-block">
                    <select class="page" id="page" name="page">
                        {% for page_number in topics.paginator.page_range %}
                            {% ifequal page_number topics.number %}
                                <option value="{{ page_number }}">{{ page_number }}</option>
                            {% else %}
                                <option value="{{ page_number }}">{{ page_number }}</option>
                            {% endifequal %}
                        {% endfor %}
                    </select>
                </form>
                <span>页</span>
            </div>
            <div class="sideBox">
                <div class="supplyBox">
                    {% for topic in topics.object_list %}
                        <h4><a href="/scm_ts/base/admin/supprole_form/?page={{ page }}&rcode={{ topic.rcode }}">{{ topic.nm }}</a></h4>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="confCnt left">
        <div class="tTitle">
            <h2>
                角色信息管理（红色字段为必填选项）
            </h2>
        </div>
        <div class="confCnt-box">
            <form class="confCnt-form" name="supproleForm" id="supproleForm" action="" method="post">
                <div class="conf baseInfo">
                    <h3 class="powerSet">
                        基本信息&nbsp;--&nbsp;编号：<span>001</span> <input id="powerSetBtn" name="powerSetBtn" type="button" value="权限">

                    </h3>

                    <div class="baseInfo-box">
                        <p class="red">
                            <label for="uName">名称：</label>{{ form.nm }}{{ form.nm.errors }}<span class="uName-notice"
                                                                                                 style="display:none">此字段为必填</span>
                        </p>

                        <p>
                            <label for="uId">ID：</label>{{ form.rcode }}{{ form.rcode.errors }}
                        </p>

                        <p>
                            <label for="uStatus">状态：</label>{{ form.status }}{{ form.status.errors }}
                        </p>

                        <p>
                            <label for="uRemark">备注：</label>{{ form.remark }}
                        </p>

                        <p>
                            <label for="uCompany">集团：</label>{{ form.grpcode }}
                        </p>
                        <input type="hidden" name="oldrcode" id="oldrcode" value="{{ rcode }}">
                        <input type="hidden" name="flag" id="flag" value="{{ flag }}">
                    </div>
                </div>
                <div class="btn">
                    <input type="hidden" name="action" id="action">
                    <input type="hidden" name="page" id="page" value="{{ page }}">
                    <input id="saveQuery" name="saveQuery" type="button" value="保存" onclick="saveRole()">
                    <input id="delQuery" name="delQuery" type="button" value="删除" onclick="delRole()">
                </div>
            </form>
            <form class="powerSet-box" name="powerSet-box" id="powerSet-box" action="/scm_ts/base/admin/supp_chmodRole" style="top:200px;left: auto">
                <p class="title">
                    {% comment %}<span>当前角色：</span>{% endcomment %}
                    <input id="" class="all" type="checkbox" name="" checked="false"><label for="">全选/全不选</label>
                    <input type="button" id="purBtn" value="确定"> <input class="close" type="button" value="放弃">
                    <input type="hidden" name="rcode" value="{{ rcode }}">
                </p>
                <table border="0" cellpadding="3" cellspacing="1" width="100%" align="center"
                       style="background-color: #999;">
                    <thead>
                         <tr>
                            <td>
                                选择
                            </td>
                            <td>
                                功能代码
                            </td>
                            <td>
                                功能名称
                            </td>
                            <td>
                                子项
                            </td>
                        </tr>
                    </thead>
                    <tbody id="purlist">
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
{% include "common/footer.html" %}
<script>
    current="gongyingshangquanxian";
    $(document).ready(function () {
        $('#page').find("option[value='{{ page }}']").attr("selected", true);
        $('#page').bind('change', function () {
            $('#page_form').submit();
        });
    });
    $(document).ready(function(){
            if ($('#uId').attr("value") != '') {
                $('#uId').attr("readonly", "readonly");
                $('#uId').css("background","#ADADAD");
            }
            if (!($('#uId').attr("value"))){
                $('#uId').removeAttr("readonly");
                $('#uId').css("background", "#eee");
            }
    });
    $(document).ready(function(){
        v = $('#flag').attr("value");
        if (v == 1) {
            alert("ID已存在,请重新添加!");
        }
        $('#uId').removeAttr("readonly");
        $('#uId').css("background", "#eee");
    });
    {#  权限按钮  #}
    $(document).ready(function(){
        $('#powerSetBtn').click(function(){
            $.post("/scm_ts/base/admin/supp_queryRole", {'rcode':'{{ rcode }}'}, function (result) {
            var data = JSON.parse(result);
            $("#purlist").html("")
            $(data.purL).each(function (index, item) {
                var flag = $.inArray(item.pcode,data.uPurL);
                var content = "";
                if(flag!=-1){
                    content ="<tr><td><input type='checkbox' checked='checked' name='pcode' id='" + item.pcode + "' value='" + item.pcode + "'></td><td>"+item.pcode +"</td><td>"+item.nm+"</td><td>查看</td></tr>"
                }else{
                    content ="<tr><td><input type='checkbox' name='pcode' id='" + item.pcode + "' value='" + item.pcode + "'></td><td>"+item.pcode +"</td><td>"+item.nm+"</td><td>查看</td></tr>"
                }
                $("#purlist").append(content);
            });
        });
        });

        $('#purBtn').click(function () {
            var ajax_option = {
                url: "/scm_ts/base/admin/supp_savePur",
                data: $('#powerSet-box').serialize(),
                type: 'post',
                datatype: 'json',
                async: false,
                cache: false,
                beforeSubmit: function () {

                },
                success: function (f) {
                    obj = JSON.parse(f);
                    if (obj.flag == 0) {
                        $('.powerSet-box').hide();
                        window.location.reload();
                    } else {
                        $('.powerSet-box').hide();
                        alert("操作失败");
                    }
                },
            };
            $('#powerSet-box').ajaxSubmit(ajax_option);
        });
    });

    function purSet() {
        var purList = $("input[name='purcheck']:checked").serialize();
        $.post("/scm_ts/base/admin/supp_chmodRole", {utype: t, ucode: i}, function(result) {
        });
    }
</script>
<script language="JavaScript">
    function saveRole() {
        $("#supproleForm").attr("action",'/scm_ts/base/admin/supprole_form/');
        $("#action").attr("value","saveQuery");
        $("#supproleForm").submit();
    }
    function delRole() {
        $("#supproleForm").attr("action", '/scm_ts/base/admin/supprole_form/');
        $("#action").attr("value","delQuery");
        $("#supproleForm").submit();
    }
</script>

</body>
</html>