<link rel="stylesheet" href="{{ static }}/css/bootstrap.min.css" />
<link rel="stylesheet" href="{{ static }}/css/matrix-style.css" />
<link rel="stylesheet" href="{{ static }}/css/matrix-media.css" />
<link rel="stylesheet" href="{{ static }}/css/common.css">
<link rel="shortcut icon" href="favicon.ico" />
<link rel="icon" href="favicon.ico" type="image/gif" />
<!--[if lt IE 9]>
<script src="{{ static }}/js/jshtml5shiv.min.js"></script>
<script src="{{ static }}/js/respond.min.js"></script>
<![endif]-->
<!--Header-part-->
<div id="header">
  <h1><a href="#">宽广储值卡销售管理系统</a></h1>
</div>
<!--close-Header-part-->

<!--top-Header-menu-->
<div id="user-nav">
    <ul class="nav">
        <li class=""><a title="" href="#"><span class="glyphicon glyphicon-lock" aria-hidden="true"> </span><span class="text">修改密码</span></a></li>
        <li class=""><a title="" href="login.html"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"> </span><span class="text">退出登录</span></a></li>
    </ul>
</div>
<!--sidebar-menu-->
<div id="sidebar"> <a class="hidden" href="#"><span class="glyphicon glyphicon-list"> </span>系统菜单</a>
    <ul>
        <li class="submenu">
            <a href="#">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> </span>
                <span>卡销售</span>
            </a>
            <ul>
                <li><a href="">单卡销售</a></li>
                <li><a href="">批量销售</a></li>
            </ul>
        </li>
        <li class="">
            <a title="" href="">
                <span class="glyphicon glyphicon-transfer" aria-hidden="true"> </span>
                <span class="text">换卡</span>
            </a>
        </li>
        <li class="submenu">
            <a href="">
                <span class="glyphicon glyphicon-erase" aria-hidden="true"> </span>
                <span>补卡</span>
            </a>
        </li>
    </ul>
</div>
<!--end-sidebar-menu-->