<link rel="stylesheet" href="{{ static }}/css/reset.css" type="text/css" media="screen">
<link rel="stylesheet" href="{{ static }}/css/main.css" type="text/css" media="screen">
<link rel="stylesheet" href="{{ static }}/css/password.css" type="text/css" media="screen">
<link rel="stylesheet" href="{{ static }}/css/print.css" type="text/css" media="print">

<link rel="stylesheet" href="{{ static }}/css/tabs.css" type="text/css" media="screen">
{% load basefilter %}
<div class="header noprint">
    <div class="logo"></div>
    <div class="nav">
        <ul class="nav-list" style="display:block">
            <li class="nav-list-item">
                <a id="nav_shouye" href="{{ request.session.homeurl }}">首页</a>
            </li>
            {% if not request.session.s_fee or request.session.s_fee.status == 'Y' %}
                 {% if request.session.menu_type == "2" %}
                    {% for item in  request.session.s_umenu.supplier %}
                        <li class="nav-list-item">
                            <a id="nav_{{item.2}}" >{{ item.0|cutNum }}
                            {% if item.1 %}
                                <span class="nav-item-icon">∨</span></a>
                                <ul class="nav-list2" id="nav_list_{{ item.2 }}">
                                    {% for itm in item.1 %}
                                        <li>
                                            <a href="{{ itm.bmoudule|default_if_none:"javascript:void(0);" }}">{{ itm.nm }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                {% elif request.session.menu_type == "1"%}
                      {% for item in  request.session.s_umenu.retailer %}
                         <li class="nav-list-item">
                            <a id="nav_{{item.2}}" >{{ item.0|cutNum }}
                            {% if item.1 %}
                                <span class="nav-item-icon">∨</span></a>
                                 <ul class="nav-list2" id="nav_list_{{ item.2 }}">
                                    {% for itm in item.1 %}
                                        <li>
                                            <a href="{{ itm.bmoudule|default_if_none:"javascript:void(0);" }}">{{ itm.nm }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                {% elif request.session.menu_type == "0" %}
                     {% for item in  request.session.s_umenu.system %}
                         <li class="nav-list-item" style="width: 128px;">
                            <a id="nav_{{item.2}}" >{{ item.0|cutNum }}
                            {% if item.1 %}
                                <span class="nav-item-icon">∨</span></a>
                                <ul class="nav-list2" id="nav_list_{{ item.2 }}"  style="width: 128px;">
                                    {% for itm in item.1 %}
                                        <li>
                                            <a href="{{ itm.bmoudule|default_if_none:"javascript:void(0);" }}">{{ itm.nm }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                {% else %}
                {% endif %}
            {% endif %}
            <li class="nav-list-item">
                <a id="nav_9" href="/scm_ts/base/logout/">退出</a>
            </li>
        </ul>
    </div>
</div>

