<html>
    <head>
        <meta charset="UTF-8">
        <title>
            商业供应链系统
        </title>

    </head>
    <body>
        {% load basefilter %}
        {% include 'common/nav.html' %}
        <div class="mainHome comWidth">
            <div class="sideNav left" style="margin-top: 30px;">
                <ul class="sideNav-list" style="font-size:14px;">
                    <li class="sideNav-list-item">
                        <a href="/scm_ts/base/supp/home/" title="retail">供应商数据</a>
                    </li>
                    <li class="sideNav-list-item">
                        {{  request.session.s_umenu.system|getPur:"007" }}
                    </li>
                    <li style="margin-top: 20px;text-align: left;">
                       结算方式：{{ payTypeName|default_if_none:"" }}
                    </li>
                    <li style="text-align: left;">
                        账户有效期至：{{ endDate|date:'Y-m-d' }}
                        {% if request.session.s_fee and request.session.s_fee.status == 'N' %}
                            <span style="color:red;">现已停用，请及时联系管理员：0314-2064525。</span>
                        {% endif %}
                    </li>
                    <li style="text-align: left;">
                        {% if rdays %}
                            对账日期：每月{{ rdays }}日<br/>
                        {% endif %}
                        {% if rdays %}
                            编辑结算单日期：每月{{ tdays }}日
                        {% endif %}
                    </li>
                    <li style="text-align: left;">
                        {% if request.session.s_rdict > 0 %}
                            {{  request.session.s_umenu.supplier|getPur:"277" }}
                        {% endif %}
                    </li>
                    <li style="text-align: left;">
                        {% if pwdInit %}
                            <a href='/scm_ts/base/supp/repwd/' title='修改密码' style="color: red;">请及时修改登录密码</a>
                        {% endif %}
                    </li>
                </ul>
            </div>

            <div class="noticeHome right">
                <div style="text-align: left;font-size: 13px;border:1px solid #d3d3d3;background-color:#fcedd9">
                    <p><span>提示：</span>&nbsp;供应商按照合同约定账期及时对账，对账时限为到约定账期后的<span style="color: red;font-size: 14px;">6</span>个月之内。超出规定账期则视为自动放弃相应账款。</p>
                    <p>&emsp;&emsp;&emsp;（合同附件一:甲乙双方对账、结算实施细则)。</p>
                </div>
                <div class="tTitle">
                    <h2>
                        供应商通知
                    </h2>
                </div>
                <table border="0" cellpadding="3" cellspacing="1" width="100%" align="center" style="background-color: #999;">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>标题</th>
                            <th>发布时间</th>
                            <th>发布单位</th>
                            <th>发布人</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in page.object_list %}
                            <tr>
                                <td>{{ row.infocode }}</td>
                                <td>
                                    <a href="/scm_ts/base/msg/info/?infocode={{ row.infocode }}" >{{ row.title }}</a>
                                </td>
                                <td>{{ row.subtime | date:'Y-m-d H:i'}}</td>
                                <td>{{ row.usergrpname }}</td>
                                <td>{{ row.username }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="page">
                    <span>第<b>{{ pageNum }}</b>页/共<b>{{ page.paginator.num_pages }}</b>页</span>
                    <a href="/scm_ts/base/supp/home/?pageNum=1">首页</a>
                    {% if page.has_previous %}
                        <a href="/scm_ts/base/supp/home/?pageNum={{ page.previous_page_number }}">上一页</a>
                    {% else %}
                        <a href="javascript:void(0)" >上一页</a>
                    {% endif %}

                    {% if page.has_next %}
                         <a href="/scm_ts/base/supp/home/?pageNum={{ page.next_page_number }}">下一页</a>
                    {% else %}
                        <a href="javascript:void(0)" >下一页</a>
                    {% endif %}

                    <a href="/scm_ts/base/supp/home/?pageNum={{ page.paginator.num_pages }}">尾页</a>

                    <form method="get" id="codeForm" action="/scm_ts/base/supp/home/" style="display: inline-block">
                        <span class="totalPage">到第</span> <input type="text" class="pageTxt"  id="pageNum" name="pageNum"  value="{{ pageNum }}"> <span>页</span>
                        <input type="button" id="pageEnter" value="确定" />
                    </form>
                </div>

            </div>
        </div>
        {% include "common/footer.html" %}
        <script>
            current="shouye"
            $(function(){
                $("#pageEnter").on("click",function(){

                    var pageNum = $("#pageNum").val();

                    if(!isNaN(pageNum) && pageNum!=''){
                        var num = parseInt(pageNum);
                        var maxNum = parseInt('{{ page.paginator.num_pages }}');

                        if(num<1){
                             $("#pageNum").val(1);
                        }
                        if(num>maxNum){
                            $("#pageNum").val(maxNum);
                        }
                    }else{
                         $("#pageNum").val(1);
                    }
                    $("#codeForm").submit();
                });
            });
        </script>
        <script type="text/javascript" src="http://tajs.qq.com/stats?sId=55965179" charset="UTF-8"></script>
    </body>
</html>