<html>
    <head>
        <meta charset="UTF-8">
        <title>
            商业供应链系统-登录
        </title>
        <link rel="stylesheet" href="{{ static }}/css/reset.css" type="text/css" media="screen">
        <link rel="stylesheet" href="{{ static }}/css/main.css" type="text/css" media="screen">
        <style>
            body{
                background:url("{{ static }}/image/login.jpg") center;
                background-size:cover ;
                overflow: hidden;
            }
        </style>
    </head>
    <body>
        <div class="login-main">
            <p class="browserDownload">
                <label>您的浏览器版本过低，点击链接升级浏览器：</label>
                <a href="http://dlsw.baidu.com/sw-search-sp/soft/51/11843/Firefox_45.0.2.5941_setup.1460531315.exe" class="red" title="点击下载" target="_blank">火狐</a>&nbsp;|&nbsp;
                <a href="http://dlsw.baidu.com/sw-search-sp/soft/9d/14744/ChromeStandalone_50.0.2661.87_Setup.1461306176.exe" class="red" title="点击下载" target="_blank">谷歌</a>&nbsp;|&nbsp;
                <a href="http://dl1sw.baidu.com/soft/9e/14917/IE10-Windows6.1-zh-cn.exe?version=3474208079" class="red" title="点击下载" target="_blank">IE10</a><br/>
            </p>
            <div class="l-main-title"></div>
            <div class="l-main-content" >
                <form id="loginForm" method="post" action="/scm_ts/base/login/">
                    <p><span id="error_msg"></span></p>
                    <p>
                        <label for="username">用户名:</label>
                        <input type="text" class="username" id="ucode" name="ucode" value="">
                        <span id="error_ucode"></span>
                    </p>
                    <p>
                        <label for="password">密&emsp;码:</label>
                        <input type="password" class="password" id="password" name="password" value="">
                    </p>
                    <p class="validate">
                        <label for="validate">验证码:</label>
                        <input type="text" id="vcode" name="vcode" style="width: 180px;">
                        <img align="absmiddle" id="validateImg" src="/scm_ts/base/vcode/" width="100px;" height="30px;">
                        <a href="##" onclick="changeValidateCode('validateImg')">[刷新]</a>
                    </p>
                    <p>
                        <input type="button" class="enter" id="loginId" value="登&nbsp;&nbsp;&nbsp;&nbsp;录">
                    </p>
                </form>
                <p style="font-size:14px;margin-top:40px;padding-left: 50px; ">宽广超市集团唐山有限公司 技术咨询电话：0315-7616186</p>
            </div>
        </div>
        {% include "common/footer.html" %}
        <script type="text/javascript">
            $(function(){
                  $('#loginId').bind("click",function(){
                       var ajax_option= {
                            url: "/scm_ts/base/login/",
                            data:$('#loginForm').serialize(),
                            type:'post',
                            dataType:'json',
                            async:false,
                            cache: false,
                            beforeSubmit:function(a,f,o){
                            },
                            success: function (result) {
                                var status = result.status;
                                if(status=='1'){
                                    setCnt("msg","用户名不存在","red");
                                }else if(status=='2'){
                                    setCnt("msg","密码输入错误","red");
                                }else if(status=='3'){
                                    setCnt("msg","验证码输入错误","red");
                                }else if(status=='4'){
                                    setCnt("msg","账号尚未分配权限，请与系统管理员联系","red");
                                }else{
                                    window.location.href=result.homeurl;
                                }
                            }
                       }

                       if(checkForm()){
                           $('#loginForm').ajaxSubmit(ajax_option);
                       }
                   });

                  document.onkeydown = function(e){
                      var ev = document.all ? window.event : e;
                      if(ev.keyCode==13) {
                          $('#loginId').click();
                      }
                  };
            });

            function checkForm(){
                var ucode = $("#ucode");
                var pwd = $("#password");
                var vcode = $("#vcode");

                if(ucode.val()==='' ){
                    ucode.focus();
                    setCnt("ucode","用户名不能为空","red")
                    return false;
                }else{
                    setCnt("ucode","","")
                }
                if(pwd.val()==='' ){
                    pwd.focus();
                    setCnt("password","密码不能为空","red")
                    return false;
                }else{
                    setCnt("password","","")
                }
                if(vcode.val()==='' ){
                    vcode.focus();
                    setCnt("vcode","验证码不能为空","red")
                    return false;
                }else{
                    setCnt("vcode","","")
                }
                return true;
            }

            function setCnt(id,content,color){
                $("#error_"+id).html(content)
                if(color!='')
                    $("#error_"+id).css({"color":color,"font-size":"12px"})
                else
                    $("#error_"+id).css({"font-size":"12px"})
            }

            function changeValidateCode(id) {
                //获取当前的时间作为参数，无具体意义
                var timenow = new Date().getTime();
                //每次请求需要一个不同的参数，否则可能会返回同样的验证码
                //这和浏览器的缓存机制有关系，也可以把页面设置为不缓存，这样就不用这个参数了。
                $('#'+id).attr("src",'/scm_ts/base/vcode/?nocache='+timenow);
            }
        </script>
        <script>
            if(myBrowser2()){
                alert('为了能够给您带来更好的使用体验，请使用火狐、谷歌、IE9及以上版本的浏览器。');
                $(".browserDownload").show();
            }
        </script>
    </body>
</html>