<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            商业供应链系统
        </title>
    </head>
    <body>
        {% include "common/nav.html" %}
        <h1 class="tTitle">
            <span >{{ infoTypeName }}</span>
            <span ><input type="button" value="下载附件" onclick="download('{{ pub.mailpath }}')"></span>
            <span >
                {% if request.session.s_utype == '1' %}
                    <input type="button" value="返回" onclick="javascript:window.location.href='/scm_ts/base/admin/index/'">
                {% else %}
                    <input type="button" value="返回" onclick="javascript:window.location.href='/scm_ts/base/supp/home/'">
                {% endif %}
            </span>
        </h1>
        <div class="articleNotice comWidth">
            <h3>
                {{ pub.title }}
            </h3>
            <p class="notice-ctn">
                {{ pub.content }}
            </p>
            <div class="noticeBottom">
            	<p class="left">作者：<span>{{ pub.username }}</span></p>
            	<p class="right">发布日期：<span>{{ pub.subtime | date:"Y-m-d H:i" }}</span></p>
            </div>

        </div>
        {% include "common/footer.html" %}
        <script type="text/javascript">
            current="shouye";

            function download(fileName){
                window.location.href='/scm_ts/base/msg/download/?filename='+fileName+'&infocode={{ pub.infocode }}&pindex=1';
            }

            var flag = "{{ request.message }}";
            if(flag=='no_file'){
                alert("附件不存在！");
            }
        </script>
    </body>
</html>