<html>
    <head>
        <meta charset="UTF-8">
        <title>
            商业供应链系统
        </title>

    </head>
    <body>
        {% load basefilter %}
        {% include "common/nav.html" %}
        <div class="query comWidth">
            <form class="query-list" id="queryForm" action="/scm_ts/base/supp/goods/query/" method="post">
                <div class="shopList input">
                    <label>门店：</label>
                    <input type="text" name="shopCode" id="shopCode" value="{{ shopCode }}">
                    <span class="shopList-icon"></span>
                    <div class="shopList-cnt">
                        <p class="shopList-cnt-tit">
                            <input type="checkbox" name="scode" class="all"><label for="" style="display:inline">全选/全不选</label>
                            <input class="enter" type="button" value="确定" >
                            <input class="close" type="button" value="放弃">
                        </p>
                        <table border="0" cellpadding="3" cellspacing="1" width="100%" align="center" style="background-color: #999;">
                            <thead>
                                <tr>
                                    <th>
                                        选择
                                    </th>
                                    <th>
                                        门店编码
                                    </th>
                                    <th>
                                        门店名称
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for shop in  shopList %}
                                <tr>
                                    <td>
                                        <input type="checkbox" name="scode" value="{{ shop.shopcode }}">
                                    </td>
                                    <td>
                                        {{ shop.shopcode }}
                                    </td>
                                    <td>
                                         {{ shop.shopnm }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <p class="input">
                    <label>商品条码：</label><input type="text" name="barcode" value="{{ barcode }}">
                </p>
                <p class="input">
                    <label>商品名称：</label><input type="text" name="goodsName" value="{{ goodsName }}">
                </p>
                <p class="input">
                    <label>商品状态：</label>
                    <select name="flag" value="">
                         <option value=""  {% ifequal flag "" %}selected="selected" {% endifequal %}>全部</option>
                         <option value="0" {% ifequal flag "0" %}selected="selected" {% endifequal %}>正常</option>
                         <option value="1" {% ifequal flag "1" %}selected="selected" {% endifequal %}>暂停订货</option>
                         <option value="2" {% ifequal flag "2" %}selected="selected" {% endifequal %}>暂停销售</option>
                         <option value="3" {% ifequal flag "3" %}selected="selected" {% endifequal %}>清退</option>
                         <option value="4" {% ifequal flag "4" %}selected="selected" {% endifequal %}>清退</option>
                         <option value="5" {% ifequal flag "5" %}selected="selected" {% endifequal %}>暂停经营</option>
                         <option value="6" {% ifequal flag "6" %}selected="selected" {% endifequal %}>待清退</option>
                         <option value="7" {% ifequal flag "7" %}selected="selected" {% endifequal %}>待启用</option>
                         <option value="8" {% ifequal flag "8" %}selected="selected" {% endifequal %}>新品</option>
                    </select>
                </p>
                <p class="input">
                    <label>排序条件：</label>
                    <select name="orderstyle" class="input" value="">
                        <option  value="" {% ifequal orderstyle "" %}selected="selected" {% endifequal %}>全部</option>
                        <option  value="shopid" {% ifequal orderstyle "shopid" %}selected="selected" {% endifequal %}>门店名称</option>
                        <option  value="barcodeid" {% ifequal orderstyle "barcodeid" %}selected="selected" {% endifequal %}>商品条码</option>
                        <option  value="name" {% ifequal orderstyle "name" %}selected="selected" {% endifequal %}>商品名称</option>
                        <option  value="spec" {% ifequal orderstyle "spec" %}selected="selected" {% endifequal %}>规格</option>
                        <option  value="cost" {% ifequal orderstyle "cost" %}selected="selected" {% endifequal %}>当前进价</option>
                        <option  value="price" {% ifequal orderstyle "price" %}selected="selected" {% endifequal %}>执行售价</option>
                        <option  value="flag" {% ifequal orderstyle "flag" %}selected="selected" {% endifequal %}>商品状态</option>
                        <option  value="costtaxrate" {% ifequal orderstyle "costtaxrate" %}selected="selected" {% endifequal %}>税率</option>
                    </select>
                </p>
                <p class="input">
                    <input class="query-enter" type="button" value="查询" onclick="queryForm(1)">
                    {% comment %}<input type="hidden" class="pageTxt"  id="pageNum" name="pageNum"  value="{{ pageNum }}">{% endcomment %}
                    <input type="hidden" class="pageTxt"  id="qtype" name="qtype">
                </p>
                <p class="input">
                    <input class="query-enter" type="button" value="导出到excel" onclick="queryForm(2)">
                </p>
            </form>
        </div>
        <div class="notice noticeOrder comWidth">
            <div class="tTitle">
                <h1>
                    商品资料一览表
                </h1>
                <h3>
                    单位：<span>{{ grpname }}</span>
                </h3>
                <p>
                    <b>门店：</b><span>{% if shopnames %}{{ shopnames }} {% else %}全部 {% endif %}</span> {% comment %}<b>时间：</b><span>{{ start }}至{{ end }}</span> 默认查当前月？？{% endcomment %}
                </p>
            </div>
            <table border="0" cellpadding="3" cellspacing="1" width="100%" align="center" style="background-color: #999;">
                <thead>
                    <tr>
                        <th class="col1">
                            序号
                        </th>
                        <th class="col1">
                            门店编码
                        </th>
                        <th class="col1">
                            门店名称
                        </th>
                        <th class="col1">
                            商品条码
                        </th>
                        <th class="col1">
                            商品名称
                        </th>
                        <th class="col1">
                            规格
                        </th>
                        <th class="col2_4">
                            进价
                        </th>
                        <th class="col1">
                            执行售价
                        </th>
                        <th class="col2_4">
                            销售状态
                        </th>
                        <th class="col1">
                            供应商
                        </th>
                        <th class="col1">
                            税率
                        </th>
                        <th class="col1">
                            单位
                        </th>
                        <th class="col1">
                            小类
                        </th>
                        <th class="col2_4">
                            商品编码
                        </th>
                        <th class="col1">
                            促销标志
                        </th>
                        <th class="col1">
                            开始日期
                        </th>
                        <th class="col1">
                            结束日期
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in page.object_list %}
                        <tr>
                            <td class="col1">{{ forloop.counter }}</td>
                            <td class="col1">{{ row.shopid }}</td>
                            <td class="col1">{{ shopDict|key:row.shopid }}</td>
                            <td class="col1">{{ row.barcodeid }}</td>
                            <td class="col1">{{ row.name }}</td>
                            <td class="col1">{{ row.spec | default_if_none:""}}</td>
                            <td class="col2_4">{{ row.cost|floatformat:3 }}</td>
                            <td class="col1">{{ row.price|floatformat:3 }}</td>
                            <td class="col2_4">{{ gstatus|key:row.flag }}</td>
                            <td class="col1">{{ row.venderid }}</td>
                            <td class="col1">{{ row.costtaxrate }}</td>
                            <td class="col1">{{ row.unitname }}</td>
                            <td class="col1">{{ row.deptname| default_if_none:"" }}</td>
                            <td class="col2_4">{{ row.goodsid }}</td>
                            <td class="col1">{{ promflag|key:row.promflag }}</td>
                            <td class="col1">{{ row.startdate|date:"Y-m-d" }}</td>
                            <td class="col1">{{ row.enddate|date:"Y-m-d" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="page">
                    <span>第<b>{{ pageNum }}</b>页/共<b>{{ page.paginator.num_pages }}</b>页</span>
                    <a href="/scm_ts/base/supp/goods/query/?pageNum=1&shopCode={{ shopCode }}&barcode={{ barcode }}&goodsName={{ goodsName }}&orderstyle={{ orderstyle }}&flag={{ flag }}">首页</a>
                    {% if page.has_previous %}
                        <a href="/scm_ts/base/supp/goods/query/?pageNum={{ page.previous_page_number }}&shopCode={{ shopCode }}&barcode={{ barcode }}&goodsName={{ goodsName }}&orderstyle={{ orderstyle }}&flag={{ flag }}">上一页</a>
                    {% else %}
                        <a href="javascript:void(0)" >上一页</a>
                    {% endif %}

                    {% if page.has_next %}
                         <a href="/scm_ts/base/supp/goods/query/?pageNum={{ page.next_page_number }}&shopCode={{ shopCode }}&barcode={{ barcode }}&goodsName={{ goodsName }}&orderstyle={{ orderstyle }}&flag={{ flag }}">下一页</a>
                    {% else %}
                        <a href="javascript:void(0)" >下一页</a>
                    {% endif %}

                    <a href="/scm_ts/base/supp/goods/query/?pageNum={{ page.paginator.num_pages }}&shopCode={{ shopCode }}&barcode={{ barcode }}&goodsName={{ goodsName }}&orderstyle={{ orderstyle }}&flag={{ flag }}">尾页</a>

                    <form method="get" id="codeForm" action="/scm_ts/base/supp/goods/query/" style="display: inline-block">
                        <input type="hidden" name="shopCode" value="{{ shopCode }}">
                        <input type="hidden" name="barcode" value="{{ barcode }}">
                        <input type="hidden" name="goodsName" value="{{ goodsName }}">
                        <input type="hidden" name="orderstyle" value="{{ orderstyle }}">
                        <input type="hidden" name="flag" value="{{ flag }}">
                        <span class="totalPage">到第</span> <input type="text" class="pageTxt"  id="pageNum" name="pageNum"  value="{{ pageNum }}"> <span>页</span>
                        <input type="submit" id="pageEnter" value="确定" />
                    </form>
            </div>
        </div>
         {% include "common/footer.html" %}

         <script type="text/javascript">
            current='jibenziliao'
            function queryForm(val){
                $("#qtype").attr("value",val);
                $("#queryForm").submit();
            };

        </script>
    </body>
</html>