<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>商业供应链系统</title>
</head>
<body>
    {% load basefilter %}
    {% include "common/nav.html" %}
     <div class="query comWidth noprint">
            <input class="query-print right" type="button" onclick=" javascript:print()" value="打印当前页" style="margin-right: 20px;margin-left: 20px"/>
            <input class="query-enter right" type="button" value="返回" onclick="window.history.back();return false; ">
     </div>
    <div class="mainSettle comWidth">
        <div class="tTitle">
            <h1>{{ grpName }}{{ billTypeDict|key:sheettype }}</h1>
        </div>
        <table border="0" cellpadding="3" cellspacing="1" width="100%" align="center" style="background-color: #999;">
            <thead>
                <tr>
                  <th>序号</th>
                  <th>商品编码</th>
                  <th>商品条码</th>
                  <th>商品名称</th>
                  <th>规格</th>
                  <th>单位</th>
                  <th>件数</th>
                  <th>件含数</th>
                  <th>细数</th>
                  <th>赠品数</th>
                  <th>税率</th>
                  <th>含税进价</th>
                  <th>审核日期</th>
                  <th>赠品数量</th>
                  <th>含税进价金额</th>
                  <th>不含税金额</th>
                </tr>
            </thead>
            <tbody>
                {% for row in itemList %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ row.procode }}</td>
                        <td>{{ row.salebn }}</td>
                        <td>{{ row.pname }}</td>
                        <td>{{ row.classes|default_if_none:"" }}</td>
                        <td>{{ row.unit }}</td>
                        <td>{{ row.num|floatformat:2 }}</td>
                        <td>{{ row.innums|floatformat:2 }}</td>
                        <td>{{ row.denums|floatformat:2 }}</td>
                        <td>{{ row.giftnum|default_if_none:0|floatformat:2}}</td>
                        <td>{{ row.taxrate|floatformat:0 }}</td>
                        <td>{{ row.price_intax|floatformat:2 }}</td>
                        <td>{{ row.chdate|date:"Y-m-d" }}</td>
                        <td>{{ row.prnum|floatformat:0 }}</td>
                        <td>{{ row.sum_tax|floatformat:2 }}</td>
                        <td>{{ row.sum|floatformat:2 }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>合计：</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ sum1|floatformat:2 }}</td>
                    <td>{{ sum2|floatformat:2 }}</td>
                    <td>{{ sum3|floatformat:2 }}</td>
                    <td>{{ sum4|floatformat:2 }}</td>
                    <td></td>
                    <td>{{ sum5|floatformat:2 }}</td>
                    <td></td>
                    <td>{{ sum6|floatformat:0 }}</td>
                    <td>{{ sum7|floatformat:2 }}</td>
                    <td>{{ sum8|floatformat:2 }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% include "common/footer.html" %}
    <script>
        current = "jiesuan";
    </script>
</body>
</html>