{% load basefilter %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>商业供应链系统</title>
    </head>
    <body>
        {% include "common/nav.html" %}
        <div class="query comWidth">
            <form class="query-list" id="queryForm" name="queryForm" method="post">
                {% csrf_token %}
                <div class="shopList input">
                    <label>门店：</label>
                    {{ form.shopCode }}
                    <span class="shopList-icon"></span>
                    <div class="shopList-cnt">
                        <p class="shopList-cnt-tit">
                           {% comment %} <span>门店：</span>{% endcomment %}
                            <input type="checkbox" name="" id="" class="all"><label for="" style="display: inline">全选/全不选</label>
                            <input class="enter" type="button" value="确定">
                            <input class="close" type="button" value="放弃">
                        </p>
                        <table border="0" cellpadding="3" cellspacing="1" width="100%" align="center" style="background-color: #999;">
                            <thead>
                                <tr>
                                    <th>选择</th>
                                    <th>门店编码</th>
                                    <th>门店名称</th>
                                  {% comment %}  <th>经营方式</th>{% endcomment %}
                                </tr>
                            </thead>
                            <tbody>
                            {% for shop in shopList %}
                                <tr>
                                    <td><input type="checkbox" name="" id="" value="{{ shop.shopcode }}" title="{{ shop.shopnm }}"></td>
                                    <td >{{ shop.shopcode }}</td>
                                    <td class="shopNm">{{ shop.shopnm }}</td>
                                   {% comment %} <td></td>{% endcomment %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <p class="input">
                    <label>商品条码：</label>
                    {{ form.barcode }}
                </p>
                <p class="num input">
                    <label>库存范围：</label>
                    {{ form.num1 }}
                    <span>&lt;=库存数量&lt;=</span>
                    {{ form.num2 }}
                </p>
                {{ form.num1.errors }}
                {{ form.num2.errors }}
                <p class="input">
                    <label>小类编码：</label>
                    {{ form.scCode }}
                </p>
                <p class="input">
                    <label>商品名称：</label>
                    {{ form.proName }}

                </p>
                <p class="input">
                    <label>排序条件：</label>
                    {{ form.orderStyle }}

                </p>
                <p class="input">
                    <input class="query-enter" id="queryOut" type="submit" value="查询" onclick="outQuery()">
                </p>
                <p class="input">
                    <input class="query-enter" id="excelOut" type="submit" value="导出到EXCEL" onclick="outQxcel()">
                </p>
                <p class="input">
                    <input class="query-enter" type="button" value="返回" onclick="window.history.back();return false;">
                </p>
            </form>

        </div>
        <div class="notice noticeOrder comWidth">
            <div class="tTitle">
                <h1>
                    {{ shopName }}库存明细
                </h1>
            </div>
            <table border="0" cellpadding="3" cellspacing="1" width="100%" align="center" style="background-color: #999;">
                <thead>
                    <tr>
                        <th>供应商代码</th>
                        <th>商品编码</th>
                        <th>商品条码</th>
                        <th>商品名称</th>
                        <th>小类编码</th>
                        <th>小类名称</th>
                        <th>规格</th>
                        <th>单位</th>
                        <th>数量</th>
                        <th>含税进价金额</th>
                        <th>商品状态</th>
                    </tr>
                </thead>
                <tbody>
                {% for stock in stockList %}
                    <tr>
                        <td>{{ stock.suppcode }}</td>
                        <td>{{ stock.procode }}</td>
                        <td>{{ stock.barcode }}</td>
                        <td>{{ stock.proname }}</td>
                        <td>{{ stock.sccode }}</td>
                        <td>{{ stock.scname }}</td>
                        <td>{{ stock.classes }}</td>
                        <td>{{ stock.unit }}</td>
                        <td>{{ stock.num | floatformat:2 }}</td>
                        <td>{{ stock.sums_intax | floatformat:3 }}</td>
                        <td>{{ goodsFlag | key:stock.clearflag }}</td>
                    </tr>
                {% endfor %}
                <tr>
                        <td colspan="8">合计：</td>
                        <td>{{ totalNum | floatformat:2 }}</td>
                        <td>{{ totalSumsIntax | floatformat:3}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% include "common/footer.html" %}
        <script>
            current ="kucun";

            function outQuery(){
                document.queryForm.action ="{% url 'stockArticle' %}?action=outQuery&shopcode={{ shopCode }}";
            }
            function outQxcel(){
                document.queryForm.action ="{% url 'stockArticle' %}?action=outExcel&shopcode={{ shopCode }}";
            }
        </script>
    </body>
</html>