{% load basefilter %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>发票接收单</title>
</head>
<body>
    {% include 'common/nav.html' %}
	<div class="invioce comWidth">
        {% csrf_token %}
		<div class="tTitle">
			<h1>发票接收单 </h1>
			<div class="inputBox">
                <input type="hidden" name="PlanPayDate" id="PlanPayDate" value="">
                <input type="hidden" name="begindate" id="begindate" value="">
                <input type="hidden" name="enddate" id="enddate" value="">
				<div class="box-line">
                    <p><lable>单据编号：</lable><input type="text" readonly="readonly" style="background-color: #d3d3d3;"  name="sheetId" value=""></p>
                    <p>
                        <label>经营方式：</label>
                       {% comment %} <select name="payTypeId" id="payTypeId">
                            {% for payType in payTypeList %}
                            <option value="{{ payType.id }}">{{ payType.id }} | {{ payType.name }}</option>
                            {% endfor %}
                        </select>{% endcomment %}
                        <input type="text"  readonly="readonly" style="background-color: #d3d3d3;" value="{{ payTypeDict|key:paytypeid }}">
                        <input type="hidden" name="paytypeid" readonly="readonly" value="{{ paytypeid }}">
                    </p>
                    <p>
                        <label>结算地：</label>
                        <input type="text" readonly="readonly" style="background-color: #d3d3d3;width: 160px;" value="CM01 |  宽广超市业务中心">
                    </p>
                  {% comment %}  <p style="width: 250px">
                        <label>提取发票方式：</label>
                        <select name="" id="payStatus">
                            <option value="N">未结算</option>
{#                            <option value="Y">已结算</option>#}
{#                            <option value="">全部</option>#}
                        </select>
                    </p>{% endcomment %}
				</div>
				<div class="box-line">
                    <p><label>申请结算单：</label><input type="text" name="refSheetId" id="refSheetId" ></p>
                      <p>
                        <label>门店编号：</label>
                        <select name="shopId" id="shopId">
                            <option value="">请选择</option>
                            {% for shop in shopList %}
                            <option value="{{ shop.shopcode }}">{{ shop.shopnm }}</option>
                            {% endfor %}
                        </select>
                    </p>

                    <p>
                        <label>付款日期：</label>
                        <input class="inline laydate-icon" id="payDate" name="payDate" type="text" value="{{ timeNow}}" style="width: 160px;">
                    </p>
				</div>
			</div>
		</div>
        <table>
			<thead>
				<tr>
					<th>票据<br>类型</th>
					<th>发票进项税率</th>
					<th>发票号</th>
					<th>不含税金额</th>
					<th>税额</th>
					<th>价税合计</th>
					<th>实际付款</th>
					<th>付款<br>方式</th>
					<th>发票日期</th>
					<th>纳税号</th>
					<th>发票货物</th>
				</tr>
			</thead>
			<tbody id="invoiceTable">
				<tr>
					<td>
						<select>
							<option value="1">普票</option>
							<option value="2">税票</option>
						</select>
					</td>
					<td><input type="text" value="0.00 " name="ctaxrate" id="ctaxrate"></td>
					<td><input type="text" name="cno"></td>
					<td><input type="text" value="0.00 " name="cmoney"></td>
					<td><input type="text" value="0.00 " name="csh"></td>
					<td><input type="text" value="0.00 " name="jshj" readonly="readonly"></td>
					<td><input type="text" value="0.00 " name="sjfk" readonly="readonly"></td>
					<td>
                        <select name="" id="">
                            <option value="0">支票</option>
                            <option value="1" selected >电汇</option>
                            <option value="2">汇票</option>
                            <option value="3">网银</option>
                            <option value="4">其他</option>
                        </select>
                    </td>
					<td><input type="text" value="{{ timeNow }}"></td>
					<td><input type="text" value="{{ taxno }}"></td>
					<td><input type="text" value="货物"></td>
				</tr>
                <tr>
					<td colspan="3">合计：</td>
                    <td id="cmoneySum">0.00</td>
                    <td id="cshSum">0.00</td>
                    <td id="jshjSum">0</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
				</tr>
			</tbody>
		</table>
		<div class="pageBottom-btn">
            <label for="" class="left">增加</label>
            <input class="query-enter left" type="text" id="rowNum" value="1"/>
            <label class="left">行</label>
			<input class="query-enter left actRow" type="button" value="增加数据行" onclick="addRow()" style="margin-right: 15px">
			<input class="query-enter left actRow" type="button" value="删除数据行" onclick="delRow()">
			<input class="query-enter right" id="enterAjax" type="button" value="提交" >
			<input class="query-enter right" type="button" value="取消" onclick="javascript:window.history.back();" style="margin-right: 15px">
		</div>
    </div>

	{% include 'common/footer.html' %}
	<script>
	  	!function(){
		    laydate.skin('molv');//切换皮肤，请查看skins下面皮肤库
		}();
		//自定义日期格式
		laydate({
			elem: '#payDate',
			format: 'YYYY-MM-DD',
		    festival: true, //显示节日
            max: '2099-06-16',
            istime: false,
            istoday: true
		});
  	</script>
    <script>
        $(function(){
            //发票信息提交
            $("#enterAjax").click(function(){
                //发票详细验证（发票进项税率和发票号）

                //获取表头信息
                var PlanPayDate = $("#PlanPayDate").val();
                var shopId = $("#shopId").val();
                var payDate = $("#payDate").val();
                var refSheetId = $("#refSheetId").val();

                var begindate = $("#begindate").val();
                var enddate = $("#enddate").val();

                var data=[];
                var trs = $("#invoiceTable").find("tr");
                var inputError = 0;

                if(shopId===''){
                     alert("请选择门店");
                     return false;
                }

                trs.each(function(){
                    inputs = $(this).find('input');
                    selects = $(this).find('select');
                    if(inputs.length>0){
                        if(inputs.eq(0).val()>=0 && inputs.eq(0).val()<=100 && inputs.eq(1).val() && inputs.eq(1).val().length<10 ){
                            data.push({
                                "cclass":selects.eq(0).val(),
                                "paytype":selects.eq(1).val(),
                                "ctaxrate":inputs.eq(0).val(),
                                "cno":inputs.eq(1).val(),
                                "cmoney":inputs.eq(2).val(),
                                "csh":inputs.eq(3).val(),
                                "cdate":inputs.eq(6).val(),
                                "cdno":inputs.eq(7).val(),
                                "cgood":inputs.eq(8).val()
                            })
                        }else{
                            alert("发票进项税率必须在0-100之间，\n并且发票号不能为空(长度小于10位)，\n请核对！");
                            inputError++;
                            data=[];
                            return false;
                        }
                    }
                });

                //if(console){
                //    console.log(data);
                //}

                if(inputError==0){
                    jsonStr= JSON.stringify(data);
                    $.ajax({
                        type:"post",
                        url:"/scm_ts/base/supp/invoice/save",
                        data:{
                            "jsonStr":jsonStr,
                            "PlanPayDate":PlanPayDate,
                            "shopId":shopId,
                            "payDate":payDate,
                            "refSheetId":refSheetId,
                            "begindate":begindate,
                            "enddate":enddate
                        },
                        cache:false,
                        async:false,
                        dataType:"json",
                        beforeSubmit:function(a,f,o){

                        },
                        success:function(data){
                            if(data.succ=='0'){
                                alert('保存成功');
                                window.location.href='/scm_ts/base/balance/';
                            }else if(data.succ=='2'){
                                alert('您已经有一份未审核的发票接收单【'+data.sheetid+'】，请待审核通过后再提交新单据');
                            }else{
                                alert('保存失败');
                            }
                        }
                    })
                }

            });
        });
        //表格操作，增加新的一行
        function addRow(){
            var thead = document.getElementsByTagName('thead')[0];
            var tbody = document.getElementsByTagName('tbody')[0];
            var rowNum = $("#rowNum").val();
            if(rowNum==''){
                rowNum = "0";
            }

            for(var j=0;j<parseInt(rowNum);j++){
                var rowsL = tbody.rows.length;

                var columsL = thead.rows[0].cells.length;
                var row = tbody.insertRow(rowsL-1);

                for(i=0;i<columsL;i++){
                    var td=document.createElement("td");
                    if(i==0){
                        var select = document.createElement("select");
                        select.id="";
                        select.options.add(new Option("普票","1"));
                        select.options.add(new Option("税票","2"));
                        td.appendChild(select)
                    }else if(i==7){
                        var select = document.createElement("select");
                        select.id="";
                        select.options.add(new Option("支票","0"));
                        select.options.add(new Option("电汇","1",'',true));
                        select.options.add(new Option("汇票","2"));
                        select.options.add(new Option("网银","3"));
                        select.options.add(new Option("其他","4"));
                        td.appendChild(select)
                    }else{
                        var input = document.createElement("input");
                        if(i==1 || i==3 || i==4 || i==5 || i==6 ){
                            input.value="0.00"
                        }
                        if(i==1){
                            input.name="ctaxrate"
                        }
                        if(i==2){
                            input.name="cno"
                        }
                        if(i==3){
                            input.name="cmoney"
                        }
                        if(i==4){
                            input.name="csh"
                        }
                        if(i==5){
                            input.name="jshj"
                            input.setAttribute("readonly","readonly");
                        }
                        if(i==6){
                            input.name="sjfk"
                            input.setAttribute("readonly","readonly");
                        }
                        if(i==8){
                            input.value="{{ timeNow }}"
                        }
                        if(i==9){
                            input.value="{{ taxno }}"
                        }
                        if(i==10){
                            input.value="货物"
                        }
                        td.appendChild(input)
                    }
                    row.appendChild(td)
                }
            }
            $("#rowNum").val("1");
        }
        //删除表格的一行
        function delRow(){
            var tbody = document.getElementsByTagName('tbody')[0];
            var rowsL = tbody.rows.length;
            if(rowsL>2){
                tbody.deleteRow(rowsL-2)
            }
        }
    </script>
    <script>
        $("#refSheetId").blur(function(){
            var refSheetId = $("#refSheetId").val();
            var payStatus = $("#payStatus").val();
            if(refSheetId){
                $.ajax({
                    type:'post',
                    url:'{% url 'queryBalance' %}',
                    data:{
                        'refSheetId':refSheetId,
                        'payStatus':payStatus
                    },
                    dataTpye:'json',
                    success:function(data){
                        var json = jQuery.parseJSON(data);
                        if(json.succ){
                            $("#PlanPayDate").val(json.PlanPayDate);
                            $("#shopId").val(json.shopId)
                            $("#begindate").val(json.begindate)
                            $("#enddate").val(json.enddate)
                        }else{
                            alert("此结算单编号不存在，请核对。")
                        }

                    }
                })
            }
        })
    </script>

</body>
</html>