<html>
    <head>
        <meta charset="UTF-8">
        <title>商业供应链系统</title>

    </head>
    <body>        
       {% include "common/nav.html" %}
        <p class="comWidth"><input class="query-enter right" type="button" value="返回" onclick="window.history.back();return false;"></p>
        <div class="notice noticeOrder comWidth">
            <div class="tTitle">
                <h1>
                    往来单据额调整单明细
                </h1>
                <h3>
                    单位：<span>{{ grpName }}</span>
                </h3>
                <p>
                    <b>单号：</b><span>{{ code }}</span>
                    <b>审核日期：</b><span>{{ suppiler.chdate | date:'Y-m-d' }}</span>
                    <b>生成日期：</b><span>{{ suppiler.edate | date:'Y-m-d' }}</span>
                </p>
                <p>
                    <b>门店：</b><span>{{ suppiler.shopname }}</span>
                    <b>供应商代码：</b><span>{{ suppiler.spercode }}</span>
                    <b>供应商名称：</b><span>{{ suppiler.spername }}</span>
                </p>
            </div>
            <table border="0" cellpadding="3" cellspacing="1" width="100%" align="center" style="background-color: #999;">
                <thead>
                    <tr>

                        <th>序号</th>
                        <th>供应商编码</th>
                        <th>批次号</th>
                        <th>商品条码</th>
                        <th>品名</th>
                        <th>调整数量</th>
                        <th>原含税单价</th>
                        <th>新含税单价</th>
                        <th>含税调整金额</th>
                    </tr>
                </thead>
                <tbody>
                    {% for adBill in adBillList %}
                    <tr>

                        <td>{{ forloop.counter }}</td>
                        <td>{{ adBill.spercode }}</td>
                        <td>{{ adBill.adbatchseq }}</td>
                        <td>{{ adBill.barcode }}</td>
                        <td>{{ adBill.pname }}</td>
                        <td>{{ adBill.anum | floatformat:2 }}</td>
                        <td>{{ adBill.cprice_notax | floatformat:3 }}</td>
                        <td>{{ adBill.dqhsjj| floatformat:3 }}</td>
                        <td>{{ adBill.sum4 | floatformat:3}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5">合计：</td>
                        <td>{{ sum5| floatformat:2 }}</td>
                        <td></td>
                        <td></td>
                        <td>{{ sum6| floatformat:3 }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
       {% include "common/footer.html" %}
       <script type="text/javascript">
           current = "danju"
       </script>
    </body>
</html>