
<html>
    <head>
        <meta charset="UTF-8">
        <title>商业供应链系统</title>
    </head>
    <body>
        {% load basefilter %}
        {% include "common/nav.html" %}
        <div class="query comWidth">
            <form class="query comWidth" style="width: 100%;text-align: right;">
                <p>
                    <input class="query-enter" type="button" value="返回" onclick="closeFun()">
                    <input class="query-enter" type="button" value="导出到excel">
                </p>
            </form>
        </div>
         <div class="notice noticeOrder comWidth">
            <div class="tTitle">
                <h1>
                    单品{{ pname }}销售汇总
                </h1>
                <h3>
                    单位：<span>{{ grpname }}</span>
                </h3>
                <p>
                   时间：</b><span>{{ start }}至{{ end }}</span> <b>单位：</b><span>元</span>
                </p>
            </div>
            <table border="0" cellpadding="3" cellspacing="1" width="100%" align="center" style="background-color: #999;">
                <thead>
                    <tr>
                        <th class="col1">
                           门店
                        </th>
                        <th class="col1">
                            销售数量
                        </th>
                        <th class="col1">
                            实际销售
                        </th>
                        <th class="col1">
                            销售成本
                        </th>
                        <th class="col1">
                            销售成本占比(%)
                        </th>
                        <th class="col1">
                            销售成本累计占比(%)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rslist %}
                        <tr>
                            <td class="col1">
                                {{ row.0 }}
                            </td>
                            <td class="col1">
                               {{ row.1|floatformat:2 }}
                            </td>
                            <td class="col1">
                                {{ row.2|floatformat:3 }}
                            </td>
                            <td class="col1">
                                {{ row.3|floatformat:3}}
                            </td>
                            <td class="col1">
                                {{ row.4|floatformat:2 }}
                            </td>
                            <td class="col1">
                                {{ row.5|floatformat:2 }}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr style="background-color: lightskyblue">
                        <td class="col1">
                            合计
                        </td>
                        <td class="col1">
                            {{ sum1}}
                        </td>
                        <td class="col1">
                            {{ sum2}}
                        </td>
                        <td class="col1">
                            {{ sum3}}
                        </td>
                        <td class="col1">
                            100.00
                        </td>
                        <td class="col1">
                             100.00
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% include "common/footer.html" %}
        <script type="text/javascript">
            current = "xiaoshou";
            function closeFun(){
                //window.opener.location.reload();
                self.close();
            }
        </script>
    </body>
</html>