<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>商业供应链系统</title>
</head>
<body>
    {% load basefilter %}
    {% include "common/nav.html" %}
     <div class="query comWidth noprint">
            <input class="query-print right" type="button" onclick=" javascript:print()" value="打印当前页" style="margin-right: 20px;margin-left: 20px"/>
            <input class="query-enter right" type="button" value="返回" onclick="window.history.back();return false; ">
     </div>
    <div class="mainSettle comWidth">
        <div class="tTitle">
        <h1>{{ grpName }}{{ billTypeDict|key:sheettype }}</h1>
        </div>
        <table border="0" cellpadding="3" cellspacing="1" width="100%" align="center" style="background-color: #999;">
            <thead>
                <tr>
                  <th>序号</th>
                  <th>入库单号</th>
                 {% comment %} <th>商品编码</th>{% endcomment %}
                  <th>商品条码</th>
                  <th>商品名称</th>
                    <th>批次号</th>
                    <th>调整数量</th>
                    <th>当前不含税进价</th>
                    <th>新含税单价</th>
                {% comment %}    <th>售价</th>
                  <th>不含税进货调整</th>
                  <th>含税进货调整</th>{% endcomment %}
                {% comment %}  <th>库存调整数量</th>
                  <th>库存含税调整数量</th>
                  <th>库存不含税调整数量</th>{% endcomment %}
                 {% comment %} <th>销售调整数量</th>
                  <th>销售含税调整数量</th>
                  <th>销售不含税调整数量</th>{% endcomment %}
               {% comment %}   <th>其它调整数量</th>
                  <th>其他含税调整数量</th>
                  <th>其他不含税调整数量</th>{% endcomment %}
                  <th>审核日期</th>
                </tr>
            </thead>
            <tbody>
                {% for row in itemList %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ row.code }}</td>
                        <td>{{ row.barcode }}</td>
                        <td>{{ row.pname }}</td>
                        <td>{{ row.adbatchseq }}</td>
                        <td>{{ row.anum |floatformat:2}}</td>
                        <td>{{ row.cprice_notax|floatformat:3 }}</td>
                        <td>{{ row.dqhsjj|floatformat:3 }}</td>
                     {% comment %}   <td>{{ row.sprice|floatformat:2 }}</td>
                        <td>{{ row.anum_notax |floatformat:2}}</td>
                        <td>{{ row.anum_intax |floatformat:2}}</td>{% endcomment %}
                      {% comment %}  <td>{{ row.anum_stock |floatformat:2}}</td>
                        <td>{{ row.anum_stock_notax|floatformat:2}}</td>
                        <td>{{ row.anum_stock_intax|floatformat:2 }}</td>{% endcomment %}
                      {% comment %}  <td>{{ row.anum_sale |floatformat:2}}</td>
                        <td>{{ row.anum_sale_notax|floatformat:2}}</td>
                        <td>{{ row.anum_sale_intax |floatformat:2}}</td>{% endcomment %}
                       {% comment %} <td>{{ row.anum_other|floatformat:2 }}</td>
                        <td>{{ row.anum_other_notax|floatformat:2}}</td>
                        <td>{{ row.anum_other_iitax|floatformat:2 }}</td>{% endcomment %}
                        <td>{{ row.chdate|date:'Y-m-d' }}</td>
                    </tr>
                {% empty %}
                        <tr>
                            <td colspan="9">
                                 {% if refsheettype == 104 %}
                                     <span style="color:red;font-size:14px;">此往来金额是由促销商品折扣产生而来，线上暂时无法查询明细</span>
                                 {% endif %}
                            </td>
                        </tr>
                {% endfor %}
                <tr>
                    <td>合计：</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ sum1|floatformat:2 }}</td>
                    <td>{{ sum2|floatformat:3 }}</td>
                    <td>{{ sum3|floatformat:3 }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    {% include "common/footer.html" %}
     <script>
        current = "jiesuan";
    </script>
</body>
</html>